@import "tailwindcss";

:root {
  --background: #c0c0c0;
  --foreground: #111927;
  --card: #ffffff;
  --border: #e5e73b;
  --primary: #fc0056;
  --secondary: #ffffff;
}

.dark {
  --background: #111827;
  --foreground: #f9fafb;
  --card: #1f2937;
  --border: #374151;
  --primary: #a78bfa;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  
  --breakpoint-lg: 875px;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  background: var(--background);
  color: var(--foreground);
}
